.giphs-layout {
  display: flex;
  flex-wrap: wrap;
}

.giph-image {
  object-fit: cover;
  border-radius: 0.7rem;
  margin: 0.7rem;
  box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s;
}

.image-container {
  position: relative;
}

.heart-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: beige;
  cursor: pointer;
}

.heart-icon--active {
  color: #ff0000;
}
